{template common/header}
<div class="wp cl">
<div class="main" style="margin: 10px auto;">
        <div class="left">
            <link href="source/plugin/jubei_task/css/style.css" rel="stylesheet" type="text/css"> {template jubei_task:nav}
            <div class="pta">
                <img style="float:left;" src="source/plugin/jubei_task/images/dq.png"><span style="float:left;">&nbsp;<a href="plugin.php?id=jubei_task">{lang jubei_task:plugin_name}</a> &gt;&gt; {lang jubei_task:nav_2}</span>
                <span style="float:right;">&nbsp;<!--{if $_G[lj_tips]}-->$_G[lj_tips]<!--{else}-->$config['gg']<!--{/if}--></span><img style="float:right;" src="source/plugin/jubei_task/images/gg.png">
            </div>
<!--{if ($is_true == 1 && $is_gold == 1)}-->

<div class="table">

    <div style="padding: 0 10px 10px;">
     <form action="plugin.php?id=jubei_task&model=create_task" name="addhome" method="post">
        <table cellspacing="0" cellpadding="4" border="0" width="95%">
            <tr style="height:32px;">
               
                    <td>
                        <input type="hidden" name="formhash" value="{FORMHASH}">
                    </td>
            </tr>
            <tr style="height:38px;">
                <td>
                    <span style="color:red;">*</span>&nbsp;{lang jubei_task:create_1}
                    <input type="radio" name="type" value="0" checked>{lang jubei_task:create_2}
                    <input type="radio" name="type" value="1">{lang jubei_task:create_3}
                </td>
            </tr>

            <tr style="height:32px;">
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:create_4}
                    <input type="text" id="pingtai_name" size="20" name="pingtai_name" value=""></td>
            </tr>
            <tr style="height:32px;">
                <td><span></span>&nbsp;{lang jubei_task:password}
                    <input type="text" id="password" size="20" name="password" value=""></td>
            </tr>
            <tr style="height:32px;">
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:jianjie}
                    <input type="text" id="note" size="30" name="note" value=""></td>
            </tr>

            <tr style="height:32px;" class="array">
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:create_5}
                    <input type="text" id="money" size="20" name="money1" value=""></td>
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:create_6}
                    <input type="text" id="num" size="20" name="num1" value=""></td>
                <td>
                    <!-- <button><a href="plugin.php?id=jubei_task&model=get_task&taskid={$res[id]}">预约</a></button> -->
                    <div id="add" onclick="myFunction()">{lang jubei_task:create_7}</div>
<style type="text/css">
    #add {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    display: inline-block;
    padding: 4px 4px;
    line-height: 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    }

</style>
                </td>
            </tr>




            <script type="text/javascript">


                function myFunction() {
                    var arrays = document.getElementsByClassName("array")
                    var length = arrays.length;
                    var node = arrays[0];
                    var cNode = node.cloneNode(true);
                    var cinputs = cNode.getElementsByTagName('input')
                    for (var i = 0; i < cinputs.length; i++) {
                        var str =cinputs[i].name;
                        var k = str.substr(0,str.length-1)
                        cinputs[i].name = k + '' + (length+1)
                    }
                    var lasttd = cNode.children[cNode.children.length-1]

                        lasttd.parentNode.removeChild(lasttd);
                    // node.parentNode.appendChild(cNode);
                    var before = document.getElementById('before');
                    node.parentNode.insertBefore(cNode, before);
                }
                
                function validate_check(){

                    if (document.getElementById("message").value == '') {
                        alert("请填写做单攻略！");
                        return false;
                    }
                    if (document.getElementById("pingtai_name").value == '') {
                        alert("请填写平台名字！");
                        return false;
                    }
                    if (document.getElementById("money").value == '') {
                        alert("请填写档位！");
                        return false;
                    }
                    if (document.getElementById("num").value == '') {
                        alert("请填写数量！");
                        return false;
                    }
                    if (document.getElementById("note").value == '') {
                        alert("请填写收益简介！");
                        return false;
                    }                       
                }

            </script>
            <div class="tedt">
                <div class="bar">
                                <span class="y">
                                </span>

                    <script src="static/js/seditor.js?b0l" type="text/javascript"></script>
                    <div class="fpd">
                        <a href="javascript:;" title="ÎÄ×Ö¼Ó´Ö" class="fbld"
                           onclick="seditor_insertunit('fastpost', '[b]', '[/b]');doane(event);">B</a>
                        <a href="javascript:;" title="ÉèÖÃÎÄ×ÖÑÕÉ«" class="fclr" id="fastpostforecolor"
                           onclick="showColorBox(this.id, 2, 'fastpost');doane(event);">Color</a>
                        <a id="fastpostimg" href="javascript:;" title="Í¼Æ¬" class="fmg"
                           onclick="seditor_menu('fastpost', 'img');doane(event);">Image</a>
                        <a id="fastposturl" href="javascript:;" title="Ìí¼ÓÁ´½Ó" class="flnk"
                           onclick="seditor_menu('fastpost', 'url');doane(event);">Link</a>
                        <a id="fastpostquote" href="javascript:;" title="ÒýÓÃ" class="fqt"
                           onclick="seditor_menu('fastpost', 'quote');doane(event);">Quote</a>
                        <a id="fastpostcode" href="javascript:;" title="´úÂë" class="fcd"
                           onclick="seditor_menu('fastpost', 'code');doane(event);">Code</a>
                        <a href="javascript:;" class="fsml" id="fastpostsml"
                           onclick="showMenu({'ctrlid':this.id,'evt':'click','layer':2});return false;">Smilies</a>
                        <script type="text/javascript" reload="1">
                            smilies_show('fastpostsmiliesdiv', 8, 'fastpost');
                        </script>
                        <script src="static/js/at.js?b0l" type="text/javascript"></script>
                        <span class="pipe z">|</span>
                    </div>
                </div>
                <div class="area">
                    <textarea rows="6" cols="80" name="message" placeholder="攻略" id="message"
                              onkeydown="seditor_ctlent(event, '$(\'fastpostsubmit\').click()');" tabindex="12"
                              class="pt"></textarea>
                </div>
            </div>
            <tr style="height:30px;" id="before">
                <td><input type="submit" name="create_submit" onclick="return validate_check();" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>
        </form>
                </div>
                        <tr>
                            <td>
                                <div class="notice" style="border:1px dashed #f60; background-color:#FFC">
                                {lang jubei_task:zhuyi}
                                    <br>                                </div>
                            </td>
                        </tr>
            </div>
<!--{else}-->
    <h1 style="color:red;">级别不够或金币不够，无法推单</h1>
<!--{/if}-->
        </div>
        {template jubei_task:right}
    </div>
</div>
</div>
{template common/footer}
