{template common/header}
<div class="wp cl">

<div class="main" style="margin: 10px auto;">
<div class="left"><link href="source/plugin/jubei_task/css/style.css" rel="stylesheet" type="text/css">
{template jubei_task:nav}


<div class="pta">
                <img style="float:left;" src="source/plugin/jubei_task/images/dq.png"><span style="float:left;">&nbsp;<a href="plugin.php?id=jubei_task">{lang jubei_task:plugin_name}</a> &gt;&gt; {lang jubei_task:nav_3}</span>
<span style="float:right;">&nbsp;<!--{if $_G[lj_tips]}-->$_G[lj_tips]<!--{else}-->$config['gg']<!--{/if}--></span><img style="float:right;" src="source/plugin/jubei_task/images/gg.png">
</div>
<div class="table">
<table width="720" cellspacing="1" cellpadding="0">
  <tbody><tr align="center">
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:index1}</strong></td>
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:index2}</strong></td>
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:index3}</strong></td>
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:index4}</strong></td>
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:zhuangtai}</strong></td>
    <td width="16.6%" background="source/plugin/jubei_task/images/bj.jpg" height="30"><strong>{lang jubei_task:shuju}</strong></td>
  </tr>
  <!--{loop $homelist $home}-->
    <tr align="center" height="28">
    <td bgcolor="#fffac7" style="border:1px solid #ff9900;border-top:none">$home[begintime]</td>
    <td bgcolor="#ffffff" style="border:1px solid #ff9900;border-top:none">$home[username]</td>
    <td bgcolor="#ffffff" style="border:1px solid #ff9900;border-top:none">$home[pingtai_name]</td>
    <td bgcolor="#ffffff" style="border:1px solid #ff9900;border-top:none"><a style="color:#009900" href="plugin.php?id=jubei_task&model=update_task&taskid=$home[id]">{lang jubei_task:update_task}</a></td>
    <td bgcolor="#ffffff" style="border:1px solid #ff9900;border-top:none">
    <!--{if $home[status]==1}--><a style="color:#009900" href="javascript:void(0)" onclick="deleteproject({$home[id]})">{lang jubei_task:jinxingzhong}</a>
    <!--{elseif $home[status]==0}-->
    <span style="color: red;">{lang jubei_task:jieshu}</span>
      <!--{elseif $home[status]==2}-->
    <span style="color: red;">{lang jubei_task:zanting}</span>
    <!--{/if}-->
    </td>
    <td bgcolor="#ffffff" style="border:1px solid #ff9900;border-top:none">

    <a href="plugin.php?id=jubei_task&model=complete_pro&taskid=$home[id]">{lang jubei_task:myrelease_1}</a>

    <a href="plugin.php?id=jubei_task&model=reservation_pro&taskid=$home[id]">{lang jubei_task:myrelease_2}</a></td>
  </tr>
 <!--{/loop}-->
</tbody></table>
<div class="pag">
<div style="float:left;">&nbsp;&nbsp;{lang jubei_task:index7}<span class="STYLE3">{eval echo $num;}</span>{lang jubei_task:index8}<!--£¬{lang jubei_task:createroom_24}&nbsp;<!--{if $_G['task_page']}-->$_G['task_page']<!--{else}-->1<!--{/if}-->&nbsp;{lang jubei_task:createroom_25}--></div>{$paging}

</div>
</div>
</div>
<script type="text/javascript">
function deleteproject(tid){
    // var url="$del"+tid;
  showDialog("{lang jubei_task:zanting_1}",'confirm','',function(){location.href="plugin.php?id=jubei_task"+"&model=zanting"+"&taskid="+tid});
}
</script>
{template jubei_task:right}
</div>
</div>
</div>
{template common/footer}