{template common/header}
<div class="wp cl">

                        <script type="text/javascript">
                            function myFunction() {
                                var arrays = document.getElementsByClassName("array");
                                var length = arrays.length;
                                var node = arrays[0];
                                var cNode = node.cloneNode(true);
                                var cinputs = cNode.getElementsByTagName('input');
                                var cselect = cNode.getElementsByTagName('select');

                                
                                for (var i = 0; i < cinputs.length; i++) {
                                    var str =cinputs[i].name;
                                    var k = str.substr(0,str.length-1)
                                    cinputs[i].name = k + '' + (length+1)

                                }
                                var secelt_name = cselect[0].name;
                                var csecelt_name = secelt_name.substr(0,secelt_name.length-1);
                                cselect[0].name = csecelt_name + '' + (length+1)
                                                         
                                var lasttd = cNode.children[cNode.children.length-1]

                                    lasttd.parentNode.removeChild(lasttd);
                                // node.parentNode.appendChild(cNode);
                                var before = document.getElementById('before');
                                node.parentNode.insertBefore(cNode, before);
                            }
                            function validate_check(){

                                if (document.getElementById("qq").value == '') {
                                    alert("请填写QQ！");
                                    return false;
                                }
                                if (document.getElementById("money").value == '') {
                                    alert("请填写档位！");
                                    return false;
                                }
                                if (document.getElementById("name").value == '') {
                                    alert("请填写名字！");
                                    return false;
                                } 
                                if (document.getElementById("zfb").value == '') {
                                    alert("请填写支付宝！");
                                    return false;
                                }      
                                var phone = document.getElementById('phone').value;
                                
                                if(!(/^1(3|4|5|7|8)\d{9}$/.test(trim(phone)))){ 
                                    alert("手机号码有误，请重填");  
                                    return false; 
                                } 
                            }

                            function trim(str){ //删除左右两端的空格
                        　　     return str.replace(/(^\s*)|(\s*$)/g, "");
                        　　 }

                        </script>
<div class="main" style="margin: 10px auto;">
        <div class="left">
            <link href="source/plugin/jubei_task/css/style.css" rel="stylesheet" type="text/css"> {template jubei_task:nav}
            <div class="pta">
                <img style="float:left;" src="source/plugin/jubei_task/images/dq.png"><span style="float:left;">&nbsp;<a href="plugin.php?id=jubei_task">{lang jubei_task:plugin_name}</a> &gt;&gt; {lang jubei_task:submit_2}</span>
                <span style="float:right;">&nbsp;<!--{if $_G[lj_tips]}-->$_G[lj_tips]<!--{else}-->$config['gg']<!--{/if}--></span><img style="float:right;" src="source/plugin/jubei_task/images/gg.png">
            </div>
            <div class="table">
                <div style="padding: 0 10px 10px;">
                    <table cellspacing="0" cellpadding="4" border="0" width="95%">
                        <tr style="height:32px;">
                            <td>&nbsp;{lang jubei_task:index4}:
                                $res[taskremark]</td>
                        </tr>


                        <tr style="height:32px;">
                            <td>&nbsp;{lang jubei_task:create_4}:
                                $res[pingtai_name]</td>
                        </tr>

<!--{loop $homelist $key $val}-->


                        <tr style="height:32px;">
                            <td>&nbsp;{lang jubei_task:create_5}
                             {$key}
                            
        <!--{if ($res['type'] == 0)}-->                    
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{lang jubei_task:yuyue_minge}
                                {$val}</td>
        <!--{else}-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--{/if}-->
                        </tr>


<!--{/loop}-->


                    </table>
<!--{if ($res['status'] == 1)}-->

<form action="plugin.php?id=jubei_task&model=submit_task" name="addhome" method="post">
                    <table cellspacing="0" cellpadding="4" border="0" width="95%">
                        <tr style="height:32px;">
                            
                                <td>
                                    <input type="hidden" name="formhash" value="{FORMHASH}">
                                    <input type="hidden" name="getid" value="{$getid}">
                                    <input type="hidden" name="taskid" value="{$taskid}">
                                </td>
                        </tr>

                        <tr style="height:32px;">
                            <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:zfb}
                                <input type="text" id="zfb" size="20" name="zfb" value="{$message['zfb']}"></td>
                        </tr>

                        <tr style="height:32px;">
                            <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:qq}
                                <input type="text" id="qq" size="20" name="qq" value="{$message['qq']}"></td>
                        </tr>


             

                        <tr style="height:32px;"  class="array">
                            <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:name}
                                <input type="text" id="name" size="20" name="name1" value=""></td>
                            <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:tel}
                                
                                <input type="text" id="phone" size="20" name="tel1" value=""></td>
                            <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:money}

<select id="money" name="money1">
<!--{loop $homelist $key $val}-->
<option value="{$key}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$key}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
<!--{/loop}-->
</select>


                                <td>
                                <span id="add" onclick="myFunction()">{lang jubei_task:submit_1}</span>
   <style type="text/css">
    #add {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    display: inline-block;
    padding: 4px 4px;
    line-height: 15px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    }

</style>                                 
                                </td>
                        </tr>
                        <tr style="height:32px;" id="before">
                            <td><span style="color:red;"></span>&nbsp;{lang jubei_task:other}
                                <input type="text" size="20" name="other" value=""></td>
                        </tr>
                        <tr style="height:30px;" >
                             <td><input type="submit" name="submit_task" onclick="return validate_check();" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;
                        </td></tr>
                    </table>
                    </form>
                    <!--{/if}-->
                </div>
<tr>
                            <td>
                                <div class="notice" style="border:1px dashed #f60; background-color:#FFC">
                                {lang jubei_task:jiaodan_zhuyi}
                                    <br>                                </div>
                            </td>
                        </tr>
            </div>
        </div>
        {template jubei_task:right}
    </div>
</div>
</div>
{template common/footer}


                       