{template common/header}
<div class="wp cl">
<div class="main" style="margin: 10px auto;">
        <div class="left">
            <link href="source/plugin/jubei_task/css/style.css" rel="stylesheet" type="text/css"> {template jubei_task:nav}
            <div class="pta">
                <img style="float:left;" src="source/plugin/jubei_task/images/dq.png"><span style="float:left;">&nbsp;<a href="plugin.php?id=jubei_task">{lang jubei_task:plugin_name}</a> &gt;&gt; {lang jubei_task:my_message}</span>
                <span style="float:right;">&nbsp;<!--{if $_G[lj_tips]}-->$_G[lj_tips]<!--{else}-->$config['gg']<!--{/if}--></span><img style="float:right;" src="source/plugin/jubei_task/images/gg.png">
            </div>
<div class="table">

    <div style="padding: 0 10px 10px;">
        <table cellspacing="0" cellpadding="4" border="0" width="95%">
			{lang jubei_task:gerenjianjie}

            <tr style="height:38px;">
                <td>
                    <span style="color:red;">*</span>&nbsp;{lang jubei_task:shuxing}
    <!--{if $res[type] == 1}-->
    {lang jubei_task:tuishou}
    <!--{else}-->
	{lang jubei_task:touziren}
    <!--{/if}-->
                </td>
            </tr>
            <tr style="height:32px;">
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:zfb}
                    $res['zfb']}
            </tr>

            <tr style="height:32px;">
                <td><span style="color:red;">*</span>&nbsp;{lang jubei_task:qq}
                    {$res['qq']}
            </tr>




        </table>
                </div>
                        <tr>
                            <td>
                                <div class="notice" style="border:1px dashed #f60; background-color:#FFC">
                                {lang jubei_task:ziliao_zhuyi}
                                    <br>                                </div>
                            </td>
                        </tr>
            </div>

        </div>
        {template jubei_task:right}
    </div>
</div>
</div>
{template common/footer}
